In [1]:
# load the Images from the Folder (You can also import data from multiple folder)
image_list = LoadData().from_folder(['data'])

NameError: name 'LoadData' is not defined

In [37]:
# For Faster Serching we need to index Data first, After Indexing all the meta data stored on the local path
Index(image_list).Start()

Metadata and Features are allready present, Do you want Extract Again? Enter yes or no

In [ ]:
# If you want to plot similar images the you can use this method, It will plot 16 most similar images from the data index
SearchImage().plot_similar_images(image_list[4])

In [ ]:
import matplotlib.pyplot as plt

img_read = plt.imread('../data\\1000.jpg')
plt.imshow(img_read)

In [ ]:
df = df.drop('Unnamed: 0', axis=1)

In [ ]:
df.count()
df1 = df.melt(var_name='columns', value_name='index')
pd.crosstab(index=df1['index'], columns=df1['columns'])

In [21]:
df = df.apply(pd.Series.value_counts).fillna(0)
df['total'] = df.sum(axis=0)
df

      0    1    2    3    4    5    6    7    8    9  total
0     1  2.0  2.0  0.0  2.0  1.0  0.0  0.0  0.0  1.0    NaN
1     1  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0    NaN
2     1  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    NaN
3     1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0    NaN
4     1  2.0  1.0  1.0  1.0  4.0  1.0  1.0  1.0  1.0    NaN
...  ..  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...
1358  1  1.0  0.0  2.0  0.0  1.0  0.0  1.0  1.0  0.0    NaN
1359  1  0.0  0.0  0.0  0.0  2.0  0.0  1.0  0.0  2.0    NaN
1360  1  0.0  1.0  1.0  0.0  1.0  1.0  1.0  0.0  0.0    NaN
1361  1  2.0  4.0  3.0  3.0  1.0  2.0  3.0  5.0  2.0    NaN
1362  1  0.0  0.0  0.0  1.0  1.0  1.0  1.0  0.0  0.0    NaN

[1363 rows x 11 columns]

In [35]:
print('2')

2